@import '~antd/dist/antd.css';
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #555555;
}

.Herder-Text{
  background-color: #EE6002;
  padding-left: 5px;
  font-size: 30px;
  font-weight: 600;
}

.Footer-Text {
  text-align: center;
  background-color: #555555;
  color: #000000;
  font-weight: 500;
}

.site-card-border-less-wrapper {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-img {
  background-color: #FA8100;
}

.bg-form {
  background-color: #FFDDB0;
}

.btn-sub-menu {
  border-Radius: 10px;
  background-Color: #FFDDB0;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 2px 4px;
}

.div-list {
  border-Radius: 10px;
  width: 99%;
  margin: 10px;
  height: auto;
  min-width: 500px;
  background-color: #ffffff;
  padding: 2%;
  color: #323276;
}

.font-mid {
  font-size: 16px;
}

.btn-end-page-position {
  border-Radius: 10px;
  background-Color: #FF9E22;
  margin: 0;
  position: absolute;
  left: 62%;
}

.btn-end-page {
  background: #999999;
  border-radius: 10px;
}

.showDetail {
  background: #E2E2E2;
  border-radius: 10px;
  padding: 5px;
  margin-left: 10%;
  padding-left: 5%;
}

.showDetail2 {
  padding: 15px;
  background: #DDDDDD;
  border-radius: 10px;
  margin-left: 10%;
}

.btn-fill {
  background-color: #FF9E22;
  border-radius: 15px;
  margin-left: 10%;
  box-shadow: 2px 4px;
}

.btn-filled {
  background-color: #00FF00;
  border-radius: 15px;
  margin-left: 10%;
  box-shadow: 2px 4px;
}

.btn-inshowdetail {
  border-radius: 15px;
  border: 2px solid #FF9E22;
  margin-bottom: 5px;
}

.ant-input, .ant-input:hover, .ant-input:focus, .ant-time-picker-input {
  border: 2px solid #FF9E22;
  border-right-width: 1px !important;
  font-size: 13px;
}

.ant-select-selection--multiple , .ant-select-selection--multiple:hover, .ant-select-selection--multiple:focus{
  min-height: 32px;
  padding-bottom: 3px;
  cursor: text;
  zoom: 1;
  border: 2px solid #FF9E22;
}

.ant-input-number-input {
  width: 100%;
  height: 30px;
  padding: 0 11px;
  text-align: left;
  background-color: aliceblue;
  border: 2px solid #FF9E22;
  border-radius: 4px;
  outline: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -moz-appearance: textfield !important;
}

.ant-select-auto-complete.ant-select .ant-input:focus, .ant-select-auto-complete.ant-select .ant-input:hover .ant-input:placeholder-shown{
  border-color: #FF9E22;
  border-right-width: 1px !important;
  font-size: 13px;
}

.ant-select-arrow svg{
  display: inline-block;
  color: #FF9E22;
}

.ant-select-disabled .ant-select-selection .ant-select-arrow svg{
  display: inline-block;
  color: inherit !important;
}

.ant-select-disabled .ant-select-selection--multiple .ant-select-selection__choice .ant-select-selection__choice__content {
  color: #8c8c8c!important;
}

.ant-radio-wrapper:hover .ant-radio, .ant-radio:hover .ant-radio-inner, .ant-radio-input:focus + .ant-radio-inner, .ant-select-selection {
  border-color: #FF9E22;
}

.ant-input[disabled]:hover, .ant-input[disabled], .ant-select-disabled .ant-select-selection,
.ant-input-number-disabled .ant-input-number-input,.addCriteriaButton.ant-btn[disabled], .ant-time-picker-input[disabled]{
  border: none;
  color:#8C8C8C!important;
  background-color: #f5f5f5;
}

.ant-select-selection--multiple , .ant-select-selection--multiple:hover, .ant-select-selection--multiple:focus{
  min-height: 32px;
  padding-bottom: 3px;
  cursor: text;
  zoom: 1;
  border: 2px solid #FF9E22;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #FF9E22;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  position: relative;
  background-color: #fff;
  border: 2px solid #FF9E22;
  border-radius: 2px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.ant-slider-rail {
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #c4c4c4;
  border-radius: 2px;
  transition: background-color 0.3s;
}

.ant-slider-handle.ant-tooltip-open {
  border-color: red;
}

.ant-slider-handle {
  position: absolute;
  width: 14px;
  height: 14px;
  margin-top: -5px;
  background-color: #fff;
  border: solid 2px red;
  border-radius: 50%;
  box-shadow: 0;
  cursor: pointer;
  transition: border-color 0.3s, box-shadow 0.6s, transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  z-index: 1;
  color: #FF9E22;
  background: #fff;
  border-color: #FF9E22;
  border-radius: 15px;
}

.ant-radio-button-wrapper:first-child {
  border-left: 1px solid #BBBBBB;
  border-radius: 15px;
}

.ant-radio-group {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum', "tnum";
  display: inline-block;
  font-size: 0;
  line-height: unset;
  background: #BBBBBB;
  border-radius: 15px;
}

.ant-radio-button-wrapper {
  position: relative;
  display: inline-block;
  height: 32px;
  margin: 0;
  padding: 0 15px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  line-height: 30px;
  border: 1px solid #d9d9d9;
  border-top-width: 1.02px;
  border-left-width: 0;
  cursor: pointer;
  transition: color 0.3s, background 0.3s, border-color 0.3s, box-shadow 0.3s;
  background: #BBBBBB;
  border-radius: 15px;
}

.ant-radio-button-wrapper:last-child {
  border-radius: 15px;
}